<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="h-[10000px] bg-[var(--clr-light)] px-[5%] py-6">
    <!-- article-start -->
    <section class="article">
      <h2 class="flex items-center gap-1 mb-4">
        <div
          class="icon-stack bg-no-repeat bg-[url(./asset/icon/btn/article.svg)] w-[24px] h-[24px]"
        ></div>
        <span class="text-[var(--clr-dark)]">Article</span>
      </h2>
      <div class="contentlist-article">
        <div
          class="box shd2 rounded-sm flex gap-3 px-3 py-2.5 bg-[var(--clr-light)] max-w-[400px] hover:bg-[var(--clr-hvr)] duration-150 hover:scale-105 hover:shadow-lg items-center"
        >
          <div class="thumbnail w-[66px] h-[57px]">
            <img
              class="w-full h-auto object-cover min-w-[66px]"
              src="./asset/image/article.png"
              alt=""
            />
          </div>
          <p class="text-base text-[var(--clr-dark)]">
            Mengenal Apa itu HTML dan CSS dalan Program Web.
          </p>
        </div>
      </div>
    </section>
    <!-- article-end -->
  </body>
</html>
