<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="h-[10000px] bg-[var(--clr-light)] px-[5%] py-6">
    <section class="certtificate">
      <div class="head-certificate">
        <h2 class="flex items-center gap-1 mb-4">
          <div
            class="icon-stack bg-no-repeat bg-[url(/asset/icon/btn/certificate.svg)] w-[24px] h-[24px]"
          ></div>
          <span class="text-[var(--clr-dark)]">Certificate</span>
        </h2>
      </div>
      <div class="content-certificate px-4">
        <div
          class="box w-[331px] h-[251px] shd2 shadow-2xl hover:scale-105 duration-150 rounded-xl overflow-hidden relative group"
        >
          <div
            class="thumbnail w-[331px] duration-200 transition-all ease-in group-hover:scale-150"
          >
            <img
              class="w-full h-full object-cover"
              src="/asset/image/certificate.png"
              alt=""
            />
          </div>
          <div
            class="detail text-center bg-[var(--clr-primary)] group-hover:pt-10 w-full h-full text-white p-3 absolute group-hover:h-[251px] group-hover:bg-[var(--clr-primary-trans)] group-hover:top-0 top-[79%] duration-200"
          >
            <h3 class="mb-6">Certification DBS Fondation 2024..</h3>
            <p class="max-w-[250px] mx-auto">
              It is a long established fact that a reader will be distracted by
              the readable content of a.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
